.u-section-1 {
   background-image: none;
}

.u-section-1 .u-sheet-1 {
   min-height: 875px;
}

.u-section-1 .u-list-1 {
   width: 1020px;
   margin: 20px auto 0;
}

.u-section-1 .u-repeater-1 {
   grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(
         33.3333% - 20px
      );
   min-height: 530px;
   grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
   background-image: none;
   border-radius: 28px;
}

.u-section-1 .u-container-layout-1 {
   padding: 0;
}

.u-section-1 .u-icon-1 {
   width: 74px;
   height: 74px;
   background-image: none;
   color: rgb(0, 0, 0) !important;
   margin: 23px auto 0;
   padding: 14px;
}

.u-section-1 .u-text-1 {
   font-weight: 700;
   font-size: 1.625rem;
   width: 213px;
   margin: 23px auto 0;
   color: #fff;
}

.u-section-1 .u-list-item-2 {
   margin-top: 0;
   margin-bottom: 0;
   background-color: burlywood;
   border-radius: 28px;
}

.u-section-1 .u-container-layout-2 {
   padding: 0;
}

.u-section-1 .u-icon-2 {
   width: 74px;
   height: 74px;
   background-image: none;
   color: rgb(0, 0, 0) !important;
   margin: 23px auto 0;
   padding: 14px;
   background-color: transparent !important;
}

.u-section-1 .u-text-2 {
   font-weight: 700;
   font-size: 1.625rem;
   width: 213px;
   margin: 23px auto 0;
   color: #fff;
}

.u-section-1 .u-list-item-3 {
   background-image: none;
   box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.15);
   border-radius: 28px;
}

.u-section-1 .u-container-layout-3 {
   padding: 0;
}
.u-section-1 .u-list-item-1:hover {
   transform: scale(1.04);
}
.u-section-1 .u-list-item-2:hover {
   transform: scale(1.04);
}
.u-section-1 .u-list-item-3:hover {
   transform: scale(1.04);
}
.u-section-1 .u-list-item-4:hover {
   transform: scale(1.04);
}
.u-section-1 .u-list-item-5:hover {
   transform: scale(1.04);
}
.u-section-1 .u-list-item-6:hover {
   transform: scale(1.04);
}

.u-section-1 .u-icon-3 {
   width: 74px;
   height: 74px;
   background-image: none;
   color: rgb(255, 255, 255) !important;
   margin: 23px auto 0;
   padding: 14px;
}

.u-section-1 .u-text-3 {
   font-weight: 700;
   font-size: 1.625rem;
   width: 213px;
   margin: 23px auto 0;
}

.u-section-1 .u-list-item-4 {
   background-image: none;
   box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.15);
   margin-top: 0;
   margin-bottom: 0;
   border-radius: 28px;
}

.u-section-1 .u-container-layout-4 {
   padding: 0;
}

.u-section-1 .u-icon-4 {
   width: 74px;
   height: 74px;
   background-image: none;
   color: rgb(255, 255, 255) !important;
   margin: 23px auto 0;
   padding: 14px;
}

.u-section-1 .u-text-4 {
   font-weight: 700;
   font-size: 1.625rem;
   width: 213px;
   margin: 23px auto 0;
}

.u-section-1 .u-list-item-5 {
   background-image: none;
   border-radius: 28px;
}

.u-section-1 .u-container-layout-5 {
   padding: 0;
}

.u-section-1 .u-icon-5 {
   width: 74px;
   height: 74px;
   background-image: none;
   color: rgb(255, 255, 255) !important;
   margin: 23px auto 0;
   padding: 14px;
}

.u-section-1 .u-text-5 {
   font-weight: 700;
   font-size: 1.625rem;
   width: 213px;
   margin: 23px auto 0;
}

.u-section-1 .u-list-item-6 {
   background-image: none;
   border-radius: 28px;
}

.u-section-1 .u-container-layout-6 {
   padding: 0;
}

.u-section-1 .u-icon-6 {
   width: 74px;
   height: 74px;
   background-image: none;
   margin: 23px auto 0;
   padding: 14px;
}

.u-section-1 .u-text-6 {
   font-weight: 700;
   font-size: 1.625rem;
   width: 213px;
   margin: 23px auto 0;
}

.u-section-1 .u-text-7 {
   margin: 50px 439px 20px 70px !important;
}

@media (max-width: 1199px) {
   .u-section-1 .u-list-1 {
      width: 800px;
   }

   .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
      min-height: 488px;
   }

   .u-section-1 .u-text-1 {
      width: 253px;
   }

   .u-section-1 .u-text-2 {
      width: 253px;
   }

   .u-section-1 .u-text-3 {
      width: 253px;
   }

   .u-section-1 .u-text-4 {
      width: 253px;
   }

   .u-section-1 .u-text-5 {
      width: 253px;
   }

   .u-section-1 .u-text-6 {
      width: 253px;
   }

   .u-section-1 .u-text-7 {
      width: auto;
      margin-top: 34px;
      margin-right: 568px;
      margin-left: 0;
   }
}

@media (max-width: 991px) {
   .u-section-1 .u-list-1 {
      width: 720px;
   }

   .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 15px));
      min-height: 868px;
   }

   .u-section-1 .u-text-7 {
      margin-right: 357px;
      margin-left: 60px;
   }
}

@media (max-width: 767px) {
   .u-section-1 .u-list-1 {
      width: 540px;
   }

   .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
   }

   .u-section-1 .u-text-7 {
      margin-right: 177px;
   }
}

@media (max-width: 575px) {
   .u-section-1 .u-list-1 {
      width: 340px;
   }

   .u-section-1 .u-text-7 {
      margin-right: 0;
   }
}
